#####################
### Cluster Node  ###
#####################
network:
  version: 2
  ethernets:
    {{ primary_interface_name }}:
      dhcp4: no
      addresses:
      - {{ ansible_host }}/{{ host_network_cidr }}
      gateway4: 192.168.0.1
      nameservers:
        search: {{ search_domains|safe }}
        addresses: {{ nameservers|safe }}
